
* {
  font-family: roboto;
}

.icontainer button {
  display: block;
  background: none;
  color: white;
  margin-left: 136px;
}

.introtexto {
  display: inline-block;
    font-size: 42px;
    color: white;
    margin-left: 78px;
}

.icontainer {
  background: #FF0C59;
  height: 500px;
}
